<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
        }
        div {
            width: 80%;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h2 {
            color: #333;
            text-align: center;
        }
    </style>
</head>
<body>
<div>
    <h2>Авторизация</h2>
    <h5>Ещё нет аккаунта? <a th:href="@{/registration}">Зарегистрироваться</a></h5>

    <form method="post" th:action="@{/login}" id="login">
        <label for="username">Логин</label>
        <input type="text" name="username" id="username"><br>
        <label for="password">Пароль</label>
        <input type="password" name="password" id="password"><br>

        <input type="submit" value="Авторизация">
    </form>
</div>
</body>
</html>